*.pidb
*.VisualState.xml
*.suo
*.csproj.user
*.xap
/WPFPipeControl/bin
/WPFPipeControl/obj
/TutorialsWPF/bin
/TutorialsWPF/obj
/TestGraph01.Web/obj
/TestGraph01.Web/bin
/TestGraph01/Bin
/TestGraph01/obj
/LokiHTML5/obj
/LokiHTML5/bin
/HTML5Demo/obj
/HTML5Demo/bin
/GraphCanvas.SL/obj
/GraphCanvas.SL/bin
/GraphCanvas.WPF/obj
/GraphCanvas.WPF/bin
/HeatMap/obj
/HeatMap/bin